<!--EXTEND FILE: 'base.html'-->
{% extends 'shared/base.html' %}

<!--SET BROWSER TAB TITLE-->
{% block title %}WELCOME - ESKAK{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="mx-auto p-2">
                <p class="fs-1 fw-semibold mb-0">Can't Explain Your Electricity bills?</p>
                <p class="fs-4 mt-0"><em>Then maybe it time to track your electricity units ...</em></p>
            </div>
            <hr>
            <div class="mx-auto p-2">
                <p class="fs-1">HOW TO TRACK UNITS</p>
                <ol class="list-group">
                    <li class="list-group-item">
                        <p class="fs-3 lead mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-1-square" viewBox="0 0 16 16">
                                <path d="M9.283 4.002V12H7.971V5.338h-.065L6.072 6.656V5.385l1.899-1.383h1.312Z"/>
                                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2Zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2Z"/>
                            </svg> STEP ONE</p>
                        <div class="row ms-2">
                            <div class="col-12">          
                                <p class="fs-4 fw-semibold mb-0">Register as a <a href="{% url 'users:register_view' %}">NEW USER</a></p>
                                <p class="text-secondary fs-6"><em>OR <a href="{% url 'users:login_view' %}">LOGIN</a> using your username</em></p>       
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <p class="fs-3 lead mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-2-square" viewBox="0 0 16 16">
                                <path d="M6.646 6.24v.07H5.375v-.064c0-1.213.879-2.402 2.637-2.402 1.582 0 2.613.949 2.613 2.215 0 1.002-.6 1.667-1.287 2.43l-.096.107-1.974 2.22v.077h3.498V12H5.422v-.832l2.97-3.293c.434-.475.903-1.008.903-1.705 0-.744-.557-1.236-1.313-1.236-.843 0-1.336.615-1.336 1.306Z"/>
                                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2Zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2Z"/>
                            </svg> STEP TWO</p>                         
                        <div class="row ms-2">
                            <div class="col-12">          
                                <p class="fs-4 fw-semibold mb-0">Create/Add a <a href="###">NEW ENTRY</a></p>
                            </div>
                        </div>
                    </li>                    
                    <li class="list-group-item">
                        <p class="fs-3 lead mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-3-square" viewBox="0 0 16 16">
                                <path d="M7.918 8.414h-.879V7.342h.838c.78 0 1.348-.522 1.342-1.237 0-.709-.563-1.195-1.348-1.195-.79 0-1.312.498-1.348 1.055H5.275c.036-1.137.95-2.115 2.625-2.121 1.594-.012 2.608.885 2.637 2.062.023 1.137-.885 1.776-1.482 1.875v.07c.703.07 1.71.64 1.734 1.917.024 1.459-1.277 2.396-2.93 2.396-1.705 0-2.707-.967-2.754-2.144H6.33c.059.597.68 1.06 1.541 1.066.973.006 1.6-.563 1.588-1.354-.006-.779-.621-1.318-1.541-1.318Z"/>
                                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2Zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2Z"/>
                            </svg> STEP THREE</p>                         
                        <div class="row ms-2">
                            <div class="col-12">          
                                <p class="fs-4 fw-semibold mb-0">Fill out the fields with details from your Electricity Meter</a></p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <p class="fs-3 lead mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
                            </svg> THATS IT!</p>                         
                        <div class="row ms-2">
                            <div class="col-12">          
                                <p class="fs-4 fw-semibold mb-0">
                                    Record your electricity everyday at the the same time after the initial week
                                    <br>
                                    <em class="fw-normal fs-5">Find your weekly report at</em> <a href="###">ENTRY REPORTS</a>        
                                </p>
                            </div>
                        </div>
                    </li>
                  </ol>             
            </div>
        </div>
    </div>
</div>

{% endblock %}